/* Reset básico para que todos los navegadores tengan una base similar */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo global */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #7ec015;
    color: #333;
    margin: 0;
    padding: 0;
}

/* Estilo para el encabezado */
header {
    background-color: #4CAF50;
    color: rgb(14, 1, 1);
    padding: 1rem;
    text-align: center;
}

img {
    width: 100%;
    max-width: 200px;
    height: auto;
    border-radius: 8px;
    display: block;
    margin: 10px auto;
}


header h1 {
    font-size: 2.5rem;
}

/* Estilo para el menú de navegación */
nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
    margin-top: 1rem;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 0.5rem 1rem;
    border-radius: 5px;
}

nav ul li a:hover {
    background-color: #333;
}

/* Estilo para las secciones principales */
section {
    padding: 2rem;
    background-color: rgb(229, 241, 239);
    margin: 2rem auto;
    max-width: 1200px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

section h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #4CAF50;
}

section p {
    font-size: 1.1rem;
    margin-bottom: 1rem;
}

section ul {
    list-style: none;
    padding: 0;
}

section ul li {
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
}

/* Estilo para los formularios */
form {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 0 auto;
}

form label {
    margin-bottom: 0.5rem;
    font-weight: bold;
}

form input, form textarea {
    padding: 0.8rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    padding: 1rem;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
    cursor: pointer;
}

form button:hover {
    background-color: #45a049;
}

/* Estilo para el pie de página */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer p {
    font-size: 1rem;
}
